.homepageIcon {
  border: solid 2px darkblue;
  background: no-repeat;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-box-shadow: 8px 8px 5px 0px #77b0ff;
  -webkit-box-shadow: 8px 8px 5px 0px #77b0ff;
  box-shadow: 8px 8px 5px 0px #77b0ff;
  max-width: 100%;
  height: auto;
  transition-duration: 0.3s;
}

.homepageIcon:hover {
  -moz-box-shadow: 8px 8px 7px 2px #77b0ff;
  -webkit-box-shadow: 8px 8px 7px 2px #77b0ff;
  box-shadow: 8px 8px 7px 2px #77b0ff;
  transform: translateY(-3px);
  border-color: darkblue;
  border-width: 3px;
}

.homepageIconContainer {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.p-4-index {
  height: 220px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.highlighted {
  background-color: #77b0ff;
}

.unhighlighted {
  background-color: unset;
}

.gold {
  background-color: gold;
}

.hidden {
  display: none;
}

/*Add, edit, delete and assign buttons*/
.crudButton {
  border: solid 2px darkblue;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition-duration: 0.3s;
}

.crudButton:hover {
  -moz-box-shadow: 4px 4px 3px 1px #77b0ff;
  -webkit-box-shadow: 4px 4px 3px 1px #77b0ff;
  box-shadow: 4px 4px 3px 1px #77b0ff;
  transform: translateY(-3px);
}

.assignForm label {
  width: 100%;
}

.assignForm input[type="number"] {
  float: right;
  width: 30%;
  border-style: solid;
  border-width: 1px;
}

.assignForm span {
  float: left;
  max-width: 65%;
}

.list,
.roriList {
  border: 2px solid darkblue;
  table-layout: fixed;
  width: 100%;
}

.list thead > tr > th,
.roriList thead > tr > th {
  border: 2px solid darkblue;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list tbody > tr > td,
.roriList tbody > tr > td {
  border: 2px solid #77b0ff;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list > tbody > tr:hover {
  transition-duration: 0.3s;
  box-shadow: 0 0 0 3px #77b0ff;
  -moz-box-shadow: 0 0 0 3px #77b0ff;
  -webkit-box-shadow: 0 0 0 3px #77b0ff;
}

.fieldsetTable {
  width: 100%;
}

.fieldsetTable > tbody > tr > td {
  padding: 3px;
}

.fieldsetTable > tbody > tr:hover {
  box-shadow: 0 0 0 2px darkblue;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  transform: translate(1px, -2px);
  transition-duration: 0.3s;
}

/* to fix the graph width and height */
#scene,
canvas,
.plot-container,
.plotly,
.main-svg,
.gl-container {
  width: 100% !important;
}

.main-svg,
.svg-container {
  height: 570px !important;
}

#scene {
  left: 0 !important;
  top: 0 !important;
}

button {
  border-color: darkblue;
  border-radius: 5px;
  border-style: solid;
}

button:disabled {
  border-color: black;
}

button:hover:enabled {
  transition-duration: 0.3s;
  border-radius: 5px;
  transform: translateY(-2px);
  box-shadow: 4px 4px 3px 1px #77b0ff;
  -moz-box-shadow: 4px 4px 3px 1px #77b0ff;
  -webkit-box-shadow: 4px 4px 3px 1px #77b0ff;
}

select {
  border-radius: 5px;
}

input[type="file"]::file-selector-button {
  border-radius: 5px;
  border-color: darkblue;
  border-style: solid;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  transition-duration: 0.3s;
  border-radius: 5px;
  transform: translateY(-2px);
  box-shadow: 4px 4px 3px 1px #77b0ff;
  -moz-box-shadow: 4px 4px 3px 1px #77b0ff;
  -webkit-box-shadow: 4px 4px 3px 1px #77b0ff;
}

input[type="file"] {
  padding-top: 3px;
  cursor: pointer;
}
